* {
    margin: 0px;
    padding: 0px;
    line-height: 25px;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 40px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    align-content: center;
}
#cadastrarprod{
    width: 600px;

}
.divaddprod{
    width: 500px;
}
.adicionarprod{
    display: flex;
}
#textprod{
    margin-left: 10px;
    font-size: 25px;
}
.titulo{
    margin: 60px 0px 30px 30px;
}
.inputtitle{
    width: 500px;
    height: 35px;
    border-radius: 10px;
    margin-bottom: 15px;
}
.inputtitle::placeholder {
    padding-left: 20px;
    margin-left: 20px;
}
.desc{
    margin: 0px 0px 30px 30px;
}
.descarea{
    width: 500px;
    height: 150px;
    border-radius: 10px;
    background-color:rgb(100, 100, 100);
}
.midia{


    width: 500px;
    height: 150px;
}
.inputfile{
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 100px;
    border:dotted;
    border-radius: 10px;
}
.file{
    margin-top: 20px;
    height: 25px;
    padding: 0px;
    width:115px ;
}
#p{
    font-weight: lighter;
    margin-bottom: 40px;
    padding: 0px;
    text-transform:capitalize;
    font-size: 20px;
}

.caixapreco{
    width: 500px;
}
#caixaprecoecomp{
    display: flex;
}
.precosecomp{
    margin-right: 35px;
}
.precoeinput{

    margin-right: 77px;
    width: 100px;
    height: 70px;
}
.number{
    border-radius: 10px;
    width: 140px;
    height: 25px;
    margin-top: 15px;
}

#CLMdiv{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
#number::placeholder{
    padding-left: 10px;
}
.caixasadd{
    width: 500px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 40px 0px 30px 0px;
    border-radius: 10px;
    margin:30px;
    padding: 30px;
    background-color: rgb(36, 36, 36);
}rgb(82, 82, 82)

.textorg{
   margin-top: 15px;
}
.titulos{
    margin-bottom: 25px;
    display: flex;
    text-align: center;
}

